@font-face {
    font-family: kolle;
    src: url('../font/kolle.ttf')
}

@font-face {
    font-family: kollebold;
    src: url('../font/kollebold.ttf')
}

@font-face {
    font-family: prodmed;
    src: url('../font/prodmedium.ttf')
}

@font-face {
    font-family: prodbold;
    src: url('../font/prodbold.ttf')
}

@font-face {
    font-family: prod;
    src: url('../font/prod.ttf')
}

body::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

.background {
    background-image: url('../asset/wallpaper.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tablehopper {
    letter-spacing: 1px;
    font-size: 30px;
    font-family: prodbold;
}

.nav-item a {
    background-color: transparent;
    font-family: prodbold;
    letter-spacing: 1px;
    color: white;
    margin: 10px;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

.nav-item a:hover {
    color: #0069ff;
    cursor: pointer;
    transition: 0.7s;
}

.nav-item a::after {
    background-color: white;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0.1s;
    position: absolute;
}

.nav-item a:hover::after {
    width: 100%;
}

.resultBar {
    background-color: transparent;
    height: 9vh;
}

#resultsFound {
    margin-left: 26%;
    font-family: prodmed;
    font-size: 16px;
    margin-top: 2em;
    float: left;
}

.dropbtn {
    background-color: #0069ff;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-family: prodmed;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    margin-top: 20px;
    font-family: prodmed;
    position: relative;
    display: inline-block;
    color: white;
    margin-left: 200px;
    text-align: left;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content button {
    background-color: white;
    width: 100%;
    outline: none;
    color: black;
    border-color: transparent;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content button:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.restaurant {
    margin-bottom: 1em;
    min-width: 50vw;
    min-height: 18vh;
    left: 25%;
    background-color: transparent;
    display: flex;
}

#restaurantCategory {
    background-color: transparent;
    min-width: 50vw;
    margin-top: 2em;
}

#restaurantDisplayPhoto {
    height: 18vh;
    width: 18vh;
    border: 2px solid #ededed;
    border-radius: 5px;
    margin-right: 10px;
    background-color: transparent;
}

.restaurant-info {
    float: right;
    max-height: 20vh;
    min-width: 80%;
    background-color: transparent;
}

#restaurantName {
    font-size: 16px;
    font-family: prodbold;
    margin: 10px 0px 0px 10px;
}

#restaurantRegion {
    margin-left: 10px;
    font-size: 13px;
    font-family: prodmed;
}

#restaurantPricing {
    font-size: 11px;
    letter-spacing: 3px;
    font-family: prodmed;
    background-color: transparent;
    font-weight: strong;
    flex: 1;
}

.stars-outer {
    float: left;
    background-color: transparent;
    height: 100%;
}

.fa-circle {
    font-size: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 4.5px;
    color: #757575;
}

.fa-map-marker-alt {
    color: #0069ff;
    margin-right: 5px;
}

#restaurantStar {
    margin: 5px 0px 0px 10px;
    color: #0069ff;
    letter-spacing: 3px;
    font-size: 11px;
    display: flex;
}

.h_line {
    margin-left: 26%;
    margin-bottom: 1em;
    width: 50vw;
    height: 0;
    border: 0.5px solid #CCCCCC;
    display: inline-block;
}

#restaurantAddress {
    font-size: 14px;
    font-family: prodmed;
    color: #464646;
    margin-left: 10px;
    margin-top: 7.5vh;
    display: flex;
    justify-content: flex-start;
}

@media (max-width:991px) {
    .restaurant {
        left: 0%;
    }
    .h_line {
        margin-left: 4%;
        margin-bottom: 1em;
        width: 95vw;
        height: 0;
        border: 0.5px solid #CCCCCC;
        display: inline-block;
    }
}

@media (max-width:767px) {}