@font-face {
    font-family: kolle;
    src: url('../font/kolle.ttf')
}

@font-face {
    font-family: kollebold;
    src: url('../font/kollebold.ttf')
}

@font-face {
    font-family: prodmed;
    src: url('../font/prodmedium.ttf')
}

@font-face {
    font-family: prodbold;
    src: url('../font/prodbold.ttf')
}

@font-face {
    font-family: prod;
    src: url('../font/prod.ttf')
}

body::-webkit-scrollbar {
    display: none;
}

body,
html {
    margin: 0;
    height: 100%;
}

.fas fa-arrow-left {
    font-family: prodmed;
}

#accountSettingsText {
    font-family: prodbold;
    font-size: 28px;
}

.profileLeft {
    width: 50%;
    height: 70vh;
    float: left;
    background: grey;
}

.profileRight {
    margin-left: 50%;
    height: 70vh;
    background: whitesmoke;
}

.test {
    margin-top: 0vh;
}

.profileLeftInfo {
    font-family: prodmed;
    background-color: transparent;
    margin-bottom: 20px;
    margin-left: 2.5vw;
}

input::-webkit-input-placeholder {
    padding-left: 10px;
}

#usernameInput,
#passwordInput,
#emailInput,
#addressInput {
    background-color: white;
    color: #5B6987;
    height: 40px;
    min-width: 24vw;
    border-radius: 5px;
    border-width: 0px;
    border: none;
}

#profilePic {
    border-radius: 100%;
    height: 20em;
    width: 20em;
    margin-top: 10vh;
    margin-left: 8em;
}

#changeProfilePic {
    width: 20em;
    height: 3.5em;
    background-color: #006AFF;
    border-radius: 5px;
    margin-top: 5vh;
    margin-left: 8em;
    border: none;
    font-family: prodmed;
    color: white;
    letter-spacing: 0.5px;
}

#deleteAccount {
    font-family: prodbold;
    color: red;
    margin-top: 100px;
    margin-left: 2.5vw;
}

#deleteAccountWarning {
    font-family: prodmed;
    margin-left: 2.5vw;
    font-size: 14px;
    color: #5B6987;
    width: 70%;
}

#editButton {
    margin-left: 10px;
}

.reviewHistoryBox {
    background-color: red;
    min-width: 50em;
}

#reviewText {
    font-family: prod;
}

.reviewSection {
    margin-left: -10px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    margin-top: 2em;
    background-color: transparent;
}

#resImage {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

#userName {
    font-family: prodmed;
    font-size: 16px;
    margin-left: 5px;
}

#commentDate {
    margin-top: 1em;
    font-family: prodmed;
    font-size: 14px;
}

.commentRating {
    font-family: prodmed;
    color: #0069ff;
}

#commentSectionText {
    font-family: prodmed;
    max-width: 40vw;
}

.fa-pencil-alt:hover {
    color: limegreen;
    cursor: pointer;
}

.fa-trash-alt:hover {
    color: red;
    cursor: pointer;
}

#editCommentContent {
    width: 100%;
}

.addReview {
    margin-left: -5px;
    background-color: transparent;
    height: 25vh;
}

#editReviewId {
    font-family: prodmed;
    font-size: 1px;
}

#editReviewRating {
    font-family: prodmed;
    font-size: 1px;
}

#addReviewBox {
    min-width: 20vw;
    height: 10vh;
    margin-top: 1.5em;
    font-family: prodmed;
    font-size: 16px;
    text-align: left;
    border: 2px solid #707070;
    background-color: white;
    border-radius: 10px;
}

#addReviewButton {
    border: 0;
    outline: 0;
    margin-top: 10px;
    background-color: transparent;
}

#checkPassword,
#inputPassword,
#inputChanges {
    margin-bottom: 20px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    background-color: transparent;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

@media (max-width:991px) {
    .profileRight {
        float: left;
        width: 100%;
        margin-left: 0;
    }
    #profilePic {
        margin-left: 9em;
        width: 12em;
        height: 12em;
    }
    #changeProfilePic {
        margin-left: 4em;
    }
    .profileLeft {
        float: right;
        width: 100%;
    }
    #usernameInput,
    #passwordInput,
    #emailInput,
    #addressInput {
        min-width: 80%;
    }
}

@media (max-width:767px) {
    #restaurantAbout {
        width: 100%;
    }
}